.footer{
    margin-top: 20px;
    .icons{
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .text{
        display: flex;
        margin-top:20px;
        justify-content: center;
        align-items: center;
    }
}